table{
    width: 600px;
    border-collapse: collapse;
}
thead 
{
    background-color:brown;
    font-family: sans-serif;
    font-style: inherit;
    color: aliceblue;
}
th,td{
    padding:10px;
    text-align: center;
}
 tbody tr:hover{
    background-color: tomato;
}